@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_image {
  background: url("Assets/images/appointment.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--rdp-accent-color) !important;
}
